/* 首页 */
*{margin: 0px;padding: 0px;text-decoration: none;box-sizing: border-box;list-style: none;}
.container{display: flex;justify-content: space-between;width: 1000px;margin: auto;margin-top: 150px;}
.container .left{width: 45%;}
.container .left span{color: #9498cd;font-size: 24px;}
.container .left li{font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;font-size: 30px;line-height: 35px;margin-top: auto;}
.container .left p{font-size: 20px;line-height: 35px;}
.next{width: 90px;height: 90px;background-color: #e9ecfe;border-radius: 50%;display: block;color: #6267a9;text-align: center;line-height: 90px;margin: auto;}
.right{width: 50%;height: 200px;display: flex;align-items: center;justify-content: space-between;position: relative;}
.right img:nth-child(1){display: block;height: 300px;}
.right img:nth-child(2){display: block;height: 100px;}
.right img:nth-child(3){display: block;height: 130px;width: 200px;position: absolute;border-radius: 10px;top: 180px;right: 30px;}
.right p{color:#9498cd;position: absolute;font-size: 30px;bottom: -70px;left: 170px;}
