/*记录生活*/
body{background-color: rgb(245, 242, 232);}
.container{display: flex;justify-content:space-between ;width: 1000px;margin: auto;margin-top: 150px;}
.container .left{width: 45%;position: relative;}
.container .left span{color: #9498cd;font-size: 24px;}
.container .left li{font-size: 30px;list-style: 35px;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;margin-top: auto;}
.container .left p{width: 230px;margin-top: 35px;line-height: 30px;}
.container .left a{width: 120px;display: block;border: 1px solid #ddd;text-align: center;line-height: 28px;color: #333;margin-top: 35px;}
.container .left img{display: block;width: 100px;position: absolute;right: -40px;top: 100px;}

.container .right{width: 55%;display: flex;justify-content: space-between;flex-wrap: wrap;z-index: 111;}
.container .right li{width: 220px;height: 150px;margin-bottom: 30px;position: relative;}
.container .right li img{width: 100%;display: block;height: 100%;border-radius: 10px;}
.container .right li a{display: flex;width: 170px;color: #333;background-color: #fff;position: absolute;bottom: -10px;align-items: center;line}
.container .right li a span{display: block;width: 25px;height: 25px; background:url(../images/li.png) no-repeat center; background-size:10px 10px;}